<div class="container-fluid footer-section">
    <br>
    <h1>PSYVISION_______________________________________________________________________________</h1>
    <br>
    <div class="row" style="padding: 2%;">
        <div class="col">
            <p class="list-head">Customer Service</p>
            <div class="col">
                <div class="row">
                    <p>Contact us </p>
                </div>
                <div class="row">
                    <p>Track order </p>
                </div>
                <div class="row">
                    <p>Return order </p>
                </div>
                <div class="row">
                    <p>Cancel order </p>
                </div>
            </div>

        </div>


        <div class="col">
            <p class="list-head">Company</p>
            <div class="col">
                <div class="row">
                    <p>About us </p>
                </div>
                <div class="row">
                    <p>Terms and Conditions </p>
                </div>
                <div class="row">
                    <p>Privacy policy </p>
                </div>
            </div>
        </div>


        <div class="col">
            <p class="list-head">Connect with us</p>
            <div class="col">
                <div class="row">
                    <p>Facebook</p>
                </div>
                <div class="row">
                    <p>Instagram</p>
                </div>
            </div>
        </div>


        <div class="col">
            <p class="list-head">Stay tuned</p>
            <div class="col">
                <div class="row">
                    <form action="">
                        <div class="row">
                            <div class="col">
                                <input type="email" name="email" class="formStyle" placeholder="*Email" required />
                            </div>
                            <div class="col">
                                <a href="#" class="formButton">Subscribe</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>