
<div class="container-fluid">
    <div class="row">
        <!-- Sort By List Group on the Left Side -->
        <div class="col-md-2 sort-by">
            <h2 class="text">Sort By</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="popularity" checked>
                    <label class="form-check-label" for="popularity">  Popularity</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="relevance">
                    <label class="form-check-label" for="relevance">  Relevance</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="lowtohigh">
                    <label class="form-check-label" for="lowtohigh">  Low to High</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="whatsnew">
                    <label class="form-check-label" for="whatsnew">  What's New</label>
                </li>
            </ul>

            
           <div class="mt-3 filters">
                <h2 class="text">Filter's</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="price" checked>
                        <label class="form-check-label" for="price">Price</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="categories">
                        <label class="form-check-label" for="categories">Categories</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="gender">
                        <label class="form-check-label" for="gender">Gender</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="size">
                        <label class="form-check-label" for="size">Size</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="colour">
                        <label class="form-check-label" for="colour">Colour</label>
                    </li>
                </ul>
           </div>

        </div>

        <!-- Images on the Right Side -->
        <div class="col-md-10 tshirts">
            <div class="row justify-content-center product-grid-style">
                <!-- Product images will be dynamically added here using JavaScript -->
                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
                    <div class="product-details">
                        <div class="product-img">
                            <div class="label-offer bg-red">
                                <img src="https://animedevta.com/cdn/shop/products/1_465442ef-afb4-43c4-8007-22ffe66361be.png?v=1676365018&width=1426"
                                    alt="...">
                            </div>
                        </div>
                        <div class="product-info">
                            <a href="#">Handbag</a>
                            <p class="price text-center m-0">
                                <span>$59</span>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
