<div class="container-fluid phonecases col-md-10">
    <!-- <h2>Featured Phone Cases</h2> -->
    <div class="row justify-content-center product-grid-style">
        <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
            <div class="product-details">
                <div class="product-img">
                    <div class="label-offer bg-red">
                        <img src="https://images.dailyobjects.com/marche/product-images/1101/dailyobjects-jet-ranger-stride-2-0-case-cover-for-iphone-11-images/DailyObjects-Jet-Ranger-Stride-2-0-Case-Cover-For-iPhone-11.png?tr=cm-pad_resize,v-2,w-720,h-650,dpr-2,q-60"
                            alt="...">
                    </div>
                </div>
                <div class="product-info">
                    <a href="#">Airforce Stride case</a>
                    <p class="price text-center m-0">
                        <span>$59</span>
                    </p>
                </div>
            </div>
        </div>


        <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
            <div class="product-details">
                <div class="product-img">
                    <div class="label-offer bg-red">
                        <img src="https://images.dailyobjects.com/marche/product-images/1101/dailyobjects-jet-ranger-stride-2-0-case-cover-for-iphone-11-images/DailyObjects-Jet-Ranger-Stride-2-0-Case-Cover-For-iPhone-11.png?tr=cm-pad_resize,v-2,w-720,h-650,dpr-2,q-60"
                            alt="...">
                    </div>
                </div>
                <div class="product-info">
                    <a href="#">Airforce Stride case</a>
                    <p class="price text-center m-0">
                        <span>$59</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
            <div class="product-details">
                <div class="product-img">
                    <div class="label-offer bg-red">
                        <img src="https://images.dailyobjects.com/marche/product-images/1101/dailyobjects-jet-ranger-stride-2-0-case-cover-for-iphone-11-images/DailyObjects-Jet-Ranger-Stride-2-0-Case-Cover-For-iPhone-11.png?tr=cm-pad_resize,v-2,w-720,h-650,dpr-2,q-60"
                            alt="...">
                    </div>
                </div>
                <div class="product-info">
                    <a href="#">Airforce Stride case</a>
                    <p class="price text-center m-0">
                        <span>$59</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
            <div class="product-details">
                <div class="product-img">
                    <div class="label-offer bg-red">
                        <img src="https://images.dailyobjects.com/marche/product-images/1101/dailyobjects-jet-ranger-stride-2-0-case-cover-for-iphone-11-images/DailyObjects-Jet-Ranger-Stride-2-0-Case-Cover-For-iPhone-11.png?tr=cm-pad_resize,v-2,w-720,h-650,dpr-2,q-60"
                            alt="...">
                    </div>
                </div>
                <div class="product-info">
                    <a href="#">Airforce Stride case</a>
                    <p class="price text-center m-0">
                        <span>$59</span>
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>