<div class="customise-section">
    <div class="row">
        <div class="col-sm-5">
            <a href="#">
                <div class="card">
                    <div class="card-body-left">
                        <h5 class="card-title">Customise
                            <!-- right-arrow icon -->
                            <span class="float-right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg></span>
                        </h5>
                        <p class="card-text">Create products with your personal touch</p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-5">
            <a href="#">
                <div class="card">
                    <div class="card-body-right">
                        <h5 class="card-title">Our Design's
                            <!-- right-arrow icon -->
                            <span class="float-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                </svg>
                                <i class="bi bi-arrow-right"></i>
                            </span>
                        </h5>
                        <p class="card-text">Shop from our unique styles</p>
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </a>

        </div>
    </div>

</div>